<h4>Users List</h4>
<hr>
<div class="form-group mb-4">
  <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
</div>
<table id="customers" *ngIf="(users | filter: searchText).length > 0; else noResults">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2">Phone</th>
    <th>Gender</th>
    <th>DOB</th>
  </tr>
  <tr *ngFor="let user of users | filter: searchText;">
    <td>{{user.user.name.first}}</td>
    <td>{{user.user.email}}</td>
    <td colspan="2">{{user.user.phone}}</td>
    <td>{{user.user.gender}}</td>
    <td>{{user.user.dob}}</td>
  </tr>
</table>
<ng-template #noResults>
  <p>No results found for "{{searchText}}".</p>
</ng-template>
<br>
<h4>Create User</h4>
<hr>
<app-user></app-user>